{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %}
    <div class="flex-grow-1 flex flex-col md:flex-row">
        <aside class="bg-gray-800 text-white md:w-1/4 lg:w-1/5">
            <ul class="p-3 space-y-2">
                {% url 'account_email' as email_url_ %}
                {% if email_url_ %}
                    <li>
                        <a class="{% block nav_class_email %}block py-2 px-4{% endblock %}"
                           href="{{ email_url_ }}">Change Email</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url_ %}
                {% if change_password_url_ %}
                    <li>
                        <a class="{% block nav_class_password %}block py-2 px-4{% endblock %}"
                           href="{{ change_password_url_ }}">Change Password</a>
                    </li>
                {% endif %}
                {% url 'socialaccount_connections' as connections_url_ %}
                {% if connections_url_ %}
                    <li>
                        <a class="{% block nav_class_socialaccount %}block py-2 px-4{% endblock %}"
                           href="{{ connections_url_ }}">Third-Party Accounts</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_index_url_ %}
                {% if mfa_index_url_ %}
                    <li>
                        <a class="{% block nav_class_mfa %}block py-2 px-4{% endblock %}"
                           href="{{ mfa_index_url_ }}">Two-Factor Authentication</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url_ %}
                {% if usersessions_list_url_ %}
                    <li>
                        <a class="{% block nav_class_usersessions %}block py-2 px-4{% endblock %}"
                           href="{{ usersessions_list_url_ }}">Sessions</a>
                    </li>
                {% endif %}
            </ul>
        </aside>
        <main class="flex-grow">
            <div id="content" class="container mx-auto p-4">
                {% if messages %}
                    <div class="pt-4">
                        {% for message in messages %}
                            {% element alert level=message.tags %}
                                {% slot message %}
                                    {{ message }}
                                {% endslot %}
                            {% endelement %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
