
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
      - "5678:5678"
    env_file:
      - .env
    environment:
      - PORT=${PORT:-8080}
      - POSTGRES_HOST=db
      - STORAGE_HOST=storage:4566
      - DJANGO_DEBUG=1
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
      storage:
        condition: service_healthy
    volumes:
      - .:/app



  db:
    image: pgvector/pgvector:0.8.0-pg17
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s



  storage:
    image: localstack/localstack:4.0.3
    env_file:
      - .env
    volumes:
      - ./aws:/etc/localstack/init/ready.d
      - localstack_data:/var/lib/localstack
    healthcheck:
      test:
        - CMD
        - bash
        - -c
        - awslocal dynamodb list-tables
          && awslocal es list-domain-names
          && awslocal s3 ls
          && awslocal sqs list-queues
      interval: 5s
      timeout: 10s
      start_period: 20s



volumes:
  postgres_data:
  localstack_data:
