django
psycopg2-binary
cohere
python-dotenv
pgvector
pypdf
django-extensions
Werkzeug
django-allauth[socialaccount]
openai
django-debug-toolbar
mypy
django-stubs
anthropic
tenacity
uvicorn
whitenoise
typeguard
pydantic
channels
daphne