django
psycopg2-binary
cohere
python-dotenv
pgvector
pypdf
django-extensions
Werkzeug
django-allauth[socialaccount]
openai
django-debug-toolbar
mypy
django-stubs
anthropic
tenacity
uvicorn
whitenoise
typeguard
pydantic
channels
daphne
google-generativeai
django-storages[google]
django-storages[s3]
pytest
pytest-cov
pytest-django
boto3
websockets
debugpy
channels-redis
djangorestframework
django-stubs
celery[redis]
pdf2image
#chunking experiments
google-genai
chardet
tiktoken