{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full overflow-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AquiLLM{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'images/aquila-small-light.ico' %}" media="(prefers-color-scheme: dark)"/>
    <link rel="icon" type="image/png" href="{% static 'images/aquila-small-dark.ico' %}" media="(prefers-color-scheme: light)"/>

    <link rel="stylesheet" href="https://lalten.github.io/lmweb/style/latinmodern-mono.css" type="text/css" charset="utf-8" />
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        serif: ['Latin Modern Roman']
                    },
                    colors: {
                        'deep-primary': '#2f6e55',
                        'lighter-primary': '#acc5bb',
                        'lightest-primary': '#d5e2dd',
                        'deep-secondary': '#533a44',
                        'lighter-secondary': '#644e57'
                    },
                },
            },
        }
    </script>
</head>
<body class="h-full overflow-hidden bg-lightest-primary font-serif">
    <div class="flex h-full" id="wrapper">
        <!-- Sidebar -->
        <div id= "aq-sidebar" class="flex flex-col w-60 bg-lighter-primary text-black m-2.5 rounded-lg flex-shrink-0 min-h-[calc(100vh-20px)] overflow-y-hidden border border-dashed border-black border-2" id="sidebar-wrapper">
            <a href="{% url 'index' %}" class="text-2xl font-bold hover:bg-lighter-primary flex justify-center items-center p-6 hover:underline">
                <div class="flex justify-center items-center">
                    <img class="h-20 object-scale-down" src="{% static 'images/aquila-medium.svg' %}" alt="AquiLLM Logo">
                    <span class="py-2">AquiLLM</span>
                </div>
            </a>
            <div class="flex flex-col">
                {% if user.is_authenticated %}
                    {% for link in nav_links %}
                        <a href="{% url link.url %}" class="px-5 py-2 text-lg font-bold hover:underline hover:bg-lighter-primary hover:outline-t-2 hover:outline-b-2 hover:outline-black hover:outline-dashed">{{ link.text }}</a>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="flex justify-center p-5 mt-auto">
                <img id="aquillm-logo" src="{% static 'images/aquila.svg' %}" alt="AquiLLM Logo">
            </div>
        </div>

        <!-- Page Content -->
        <div class="flex-grow flex flex-col h-full overflow-scroll" id="page-content-wrapper">
            <nav class="bg-deep-primary text-black m-2.5 rounded-lg flex-shrink-0 px-4">
                <div class="mx-auto flex justify-between items-center max-w-full">
                    <button class="bg-deep-secondary my-2 hover:bg-lighter-secondary px-3 py-1 rounded-lg" id="menu-toggle">
                        <img id="menu-open-icon" class="h-6 hidden" src="{% static 'images/latex-implies.svg' %}" alt="Open Menu" class="">
                        <img id="menu-close-icon" class="h-6 -scale-x-100" src="{% static 'images/latex-implies.svg' %}" alt="Close Menu" class="hidden">
                    </button>

                    <a id="navbar-aquillm-button-container" href="{% url 'index' %}" class="text-2xl text-lightest-primary px-2 rounded-lg font-bold hover:bg-lighter-primary flex justify-center items-center hover:underline hidden">
                        <div class="flex justify-center items-center">
                            <img class="h-6 object-scale-down" src="{% static 'images/aquila-small-lightest.svg' %}" alt="AquiLLM Logo">
                            <span class="pl-2">AquiLLM</span>
                        </div>
                    </a>
                    <div class="flex items-center my-2 text-lightest-primary">
                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button class="bg-deep-secondary hover:bg-lighter-secondary hover:underline text-lg px-3 py-1 rounded-lg font-black" type="submit">Log Out</button>
                        </form>
                        {% else %}
                        <form method="post" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <button class="bg-deep-secondary hover:bg-lighter-secondary hover:underline text-lg px-3 py-1 rounded-lg font-black" type="submit">Log In</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </nav>

            <div class="flex-grow overflow-y-auto p-5">
                {% block content %}
                <!-- Your page content goes here -->
                {% endblock %}
            </div>
        </div>
    </div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    const menuToggle = document.getElementById("menu-toggle");
    const sidebar = document.getElementById("aq-sidebar");
    const openIcon = document.getElementById("menu-open-icon")
    const closeIcon = document.getElementById("menu-close-icon")
    const navBarAquiLLMButtonContainer = document.getElementById("navbar-aquillm-button-container")
    menuToggle.addEventListener("click", function(e) {
        e.preventDefault();
        sidebar.classList.toggle("hidden");
        openIcon.classList.toggle("hidden");
        closeIcon.classList.toggle("hidden");
        navBarAquiLLMButtonContainer.classList.toggle("hidden")
    });
});
</script>
    </script>
    {% block scripts %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>