<!-- aquillm/ingest_pdf_modal.html -->

<div class="bg-scheme-shade_4 flex items-center justify-center h-[80px]">
    <span class="font-sans text-text-normal text-2xl font-bold">
        Ingest PDF
    </span>
</div>

{% if status_message %}
    <div class="status_message text-red-500 mb-2">
        {{ status_message }}
    </div>
{% endif %}

<form action="{% url 'ingest_pdf' %}" method="post" enctype="multipart/form-data" class="flex flex-col justify-center p-[32px] text-text-normal font-sans h-full">

    {% csrf_token %}
    <div class="form-group w-full">
        {{ form.title }} 
        {% if form.title.errors %}
            <p class="text-red-500 text-sm">{{ form.title.errors }}</p>
        {% endif %}
    </div>

    <div class="flex-grow border-t h-[0px] border-border-higher_contrast my-[32px]"></div>

    <div class="form-group w-full flex flex-col items-center justify-center">
        <span style="transform: translateY(-4px)" class="text-xl">
            PDF File:
        </span>

        <!-- Custom file input -->
        <div class="mt-4 w-full flex items-center justify-center">           
            <!-- Custom button/label that triggers the file input -->
            <label for="pdf-file-input" 
                class="text-center cursor-pointer inline-block bg-accent text-white px-4 py-2 rounded-[20px] w-[30%] h-[40px] hover:bg-blue-600 transition-colors">
                Browse...
            </label>
            
            <!-- Display selected file name -->
            <span id="file-name" class="ml-[32px] text-text-less_contrast">No file chosen</span>
            
            <!-- Render the hidden file input -->
            {{ form.pdf_file }}
            
            {% if form.pdf_file.errors %}
                <p class="text-red-500 text-sm">{{ form.pdf_file.errors }}</p>
            {% endif %}
        </div>

    </div>

    <div class="flex-grow border-t h-[0px] border-border-higher_contrast my-[32px]"></div>

    <div class="form-group">
        <label class="block font-medium">Collection</label>

        {{ form.collection }}
        {% if form.collection.errors %}
            <p class="text-red-500 text-sm">{{ form.collection.errors }}</p>
        {% endif %}
    </div>

    <div class="flex-grow border-t border-border-higher_contrast my-[32px]"></div>

    <input type="submit" value="Submit" class="w-full bg-accent hover:bg-blue-600 h-[40px] text-white font-bold p-2 rounded-[20px] transition-colors">
</form>

<script>
    document.getElementById('pdf-file-input').addEventListener('change', function() {
        var fileName = this.files.length > 0 ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>


    
