{% extends "aquillm/base.html" %}

{% block title %}AquiLLM Search{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="error_message">
            {{ error_message }}
        </div>
    {% endif %}
    <div class="flex gap-[40px] items-center justify-center h-full w-full text-text-normal font-sans">
        <div class="flex flex-col items-center justify-center">
            <form action="/search/" method="post">
                {% csrf_token %}
                {{ form }}

                <div class="w-full flex justify-center">
                    <input type="submit" value="Submit" class="bg-accent text-text-normal p-[8px] rounded-[8px] cursor-pointer">
                </div>
            </form>
        </div>

        {% if reranked_results or vector_results or trigram_result %}
            <div class="max-h-[90%] overflow-y-auto bg-scheme-shade_3 rounded-lg p-[16px] my-[64px] min-w-[580px]">     
                <h1 style="text-align: center;" class="text-lg border-b border-border-high_contrast pb-[16px] mb-[16px]"><strong>Search Results</strong></h1>
                {% if reranked_results %}
                    <h2 class="text-accent-light"><strong>Reranked Search Results</strong></h2>
                    <ul class="ml-[16px]">

                        {% for item in reranked_results %}
                            <li>
                                {% include "aquillm/text_chunk.html" with item=item %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if vector_results %}
                    <h2 class="text-accent-light"><strong>Vector Search Results</strong></h2>
                    <ul class="ml-[16px]">

                        {% for item in vector_results %}
                            <li>
                                {% include "aquillm/text_chunk.html" with item=item %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if trigram_results %}
                    <h2 class="text-accent-light"><strong>Trigram Search Results</strong></h2>
                    <ul class="ml-[16px]">
                        {% for item in trigram_results %}
                        <li>
                            {% include "aquillm/text_chunk.html" with item=item %}
                        </li>
                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}