@font-face {
    font-family: 'OpenDyslexic';
    src: url('/static/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Lexend';
    src: url('/static/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('/static/fonts/Comic Sans MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}